{% load simplevariation_tags %}
<h1>Product detail:</h1>
{{object.name}}<br />
{{object.slug}}<br />
{{object.short_description}}<br />
{{object.long_description}}<br />
{{object.active}}<br />

{{object.date_added}}<br />
{{object.last_modified}}<br />

{{object.unit_price}}<br />

{% if object.category %}
{{object.category.name}}
{% else %}
(Product is at root category)
{% endif %}
<br />

<form method="post" action="{% url cart %}">{% csrf_token %}
{% with option_groups=object|get_option_groups %}
  {% if option_groups %}
    <div>
      <h2>Variations:</h2>
      {% for option_group in option_groups %}
        <label for="add_item_option_group_{{ option_group.id }}">{{ option_group.name }}</label>
        {% with options=option_group|get_options %}
          <select name="add_item_option_group_{{ option_group.id }}">
            {% for option in options %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endfor %}
          </select>
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<input type="hidden" name="add_item_id" value="{{object.id}}">
<input type="hidden" name="add_item_quantity" value="1">
<input type="submit" value="Add to cart">
</form>